<div class="container sys-categories">

    <div class="row sys-categories_title">
        <div class="col-12">
            <h1>
                Videos por categorias
            </h1>
        </div>
    </div>

    <div class="row sys-categories_list">
        <div class="col-md-4 sys-categories_list_items">
            <a href="">Modulo Comercial</a> 
        </div>
        <div class="col-md-4 sys-categories_list_items">
            <a href="">Modulo Transporte</a> 
        </div>
        <div class="col-md-4 sys-categories_list_items">
            <a href="">Modulo Nomina</a> 
        </div>
    </div>
</div>
