<div class="container sys-videos-commercial">
    <div class="row sys-videos-commercial_title">
      <div class="col-12">
          <h1>
              <app-title-h1 [text]="title | uppercase"></app-title-h1>
          </h1>
      </div>
    </div>
    <div class="row sys-videos-commercial_list">
      <div class="col-md-6 sys-videos-commercial_list_items">
        <ul>
          <li>
            <app-text text="1. Catalogos"></app-text>
          </li>
          <li>
            <app-text text="2. Documentos"></app-text>
          </li>
          <li>
            <app-text text="3. Procesos"></app-text>
          </li>
          <li>
            <app-text text="4. Informes"></app-text>
          </li>
          <li>
            <app-text text="5. Permisos"></app-text>
          </li>
        </ul>
      </div>
      <div class="col-md-6 sys-videos-commercial_list_items">
        <ul>
          <li>
            <app-text text="1. Catalogos"></app-text>
          </li>
          <li>
            <app-text text="2. Documentos"></app-text>
          </li>
          <li>
            <app-text text="3. Procesos"></app-text>
          </li>
          <li>
            <app-text text="4. Informes"></app-text>
          </li>
          <li>
            <app-text text="5. Permisos"></app-text>
          </li>
        </ul>
      </div>
    </div>
  </div>
  