<div class="container sys-grid-container">
    <div class="row sys-grid-container_title">
        <div class="col-12">
            <h1>
                Repositorio de capacitaciones
            </h1>
        </div>
    </div>
    <div class="row sys-grid-container_options">
        <div class="col-6 sys-grid-container_options_items">
            <a href="">VIDEOS</a> 
        </div>
        <div class="col-6 sys-grid-container_options_items">
            <a href="">MANUALES</a> 
        </div>
    </div>
</div>
