.sys-categories {

    &_title {
        text-align: center;
        margin-top: 30px;
    }

    &_list {
        margin-top: 50px;

        &_items {
            text-align: center;
        }
    }


}