<div class="container sys-categories">

    <div class="row sys-categories_title">
        <div class="col-12">
            <h1>
                <app-title-h1 [text]="title | uppercase"></app-title-h1>
            </h1>
        </div>
    </div>

    <div class="row sys-categories_list">
        <div class="col-md-4 sys-categories_list_items">
            <a routerLink="list-videos">
                <app-title-h4 text="Modulo De Comercial"></app-title-h4>
            </a> 
        </div>
        <div class="col-md-4 sys-categories_list_items">
            <a routerLink="list-videos">
                <app-title-h4 text="Modulo De Transporte"></app-title-h4>
            </a> 
        </div>
        <div class="col-md-4 sys-categories_list_items">
            <a routerLink="list-videos">
                <app-title-h4 text="Modulo De Nomina"></app-title-h4>
            </a> 
        </div>
    </div>
</div>
