.sys-login {
    height: 100vh;
    background: rgb(113, 179, 157);
    display: flex;
    justify-content: center;
    align-items: start;
  
    &-form {
      background: rgb(103, 150, 135);
      margin-top: 30px;
      width: 400px;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  
      &-nav {
        display: flex;
        justify-content: start;
  
        &_logo {
          background: rgb(104, 104, 104);
          margin-bottom: 15px;
          margin-left: 10px;
          h1 {
            color: aliceblue;
          }
        }
  
        &_item {
          display: flex;
          justify-content: center;
          h1{
              text-align: center;
          }
          p {
              text-align: center;
          }
        }
      }
  
      &-content {
        display: flex;
        justify-content: center;
  
        &_form {
          background: rgb(103, 150, 135);
          width: 100%;
          &_btn {
            height: 100%;
            width: 100%;
            padding: 5px;
            font-size: 15px;
            border: none;
            background-color: rgb(110, 185, 169);
          }
        }
      }
    }
  }
  