<div class="container-fluid sys-login">

    <div class="container sys-login-form">
        <div class="row sys-login-form-nav">
            <div class="col-4 sys-login-form-nav_logo">
                <h1>
                    SYSCOM S.A
                </h1>
            </div>
            <div class="col-12 sys-login-form-nav_item">
                <h1 class="text-light">
                    Bienvenido
                </h1>
            </div>
            <div class="col-12 sys-login-form-nav_item">
                <p>
                    Este es el repositorio de capacitaciones.
                </p>
            </div>
        </div>
        <div class="sys-login-form-content">

            <form action="" class="sys-login-form-content_form">

                <div class="mb-3">
                    <label for="" class="form-label">User:</label>
                    <input class="form-control" type="text" name="User" id="user" placeholder="user">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Password:</label>
                    <input class="form-control" type="password" name="clave" id="clave" placeholder="Password">
                </div>

                <div class="mb-3">
                    <div class="row d-flex justify-content-center">
                        <div class="col-6">
                            <button type="submit" class="sys-login-form-content_form_btn">Ingresar</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
