<div class="container sys-grid-container">
    <div class="row sys-grid-container_title">
        <div class="col-12">
            <h1>
                <app-title-h1 [text]="title_h1"></app-title-h1>
            </h1>
        </div>
    </div>
    <div class="row sys-grid-container_options">
        <div class="col-4 sys-grid-container_options_items">
            <a routerLink="categories-videos">
                <app-title-h4 text="VIDEOS"></app-title-h4>
            </a>
        </div>
        <div class="col-4 sys-grid-container_options_items">
            <a routerLink="categories-manuales">
                <app-title-h4 text="MANUALES"></app-title-h4>
            </a>
        </div>
    </div>
</div>
