<div class="container sys-videos-commercial">
    <div class="row sys-videos-commercial">
        <div class="col-md-6">
            <ul>
                <li>
                    1. Catalogo
                </li>
                <li>
                    2. Documentos
                </li>
                <li>
                    3. Procesos
                </li>
                <li>
                    1. Catalogo
                </li>
                <li>
                    2. Documentos
                </li>
                <li>
                    3. Procesos
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li>
                    1. Catalogo
                </li>
                <li>
                    2. Documentos
                </li>
                <li>
                    3. Procesos
                </li>
                <li>
                    1. Catalogo
                </li>
                <li>
                    2. Documentos
                </li>
                <li>
                    3. Procesos
                </li>
            </ul>
        </div>
    </div>
</div>